@model List<Person> //use this for counting the database number of items

@using(Html.BeginForm("PostPerson", "Person")) {}
@{
	ViewData["Title"] = "Person Registry Page";
}

<body>
	<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<text>Existing registry:</text>
    <p>There are @Model.Count</p>
</div>


	<form method="post" enctype="multipart/form-data" asp-controller="Person" asp-action="PostPerson">
		<table>
			<tr>
				<td>
					Name:
				</td>
				<td>
					<input type="text" id="textname" name="name"/>
				</td>
			</tr>
			<tr>
				<td>
					Email:
				</td>
				<td>
					<input type="text" id="textemail" name="email"/>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Submit"/>
				</td>
			</tr>
		</table>
	</form>
	</body>
