
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<p>Please write your email below:</p>
	<input type="text" id="email" name="email" />
	<button type="button" onclick="sendEmail()">Send</button>
</div>
